/* Gruvbox Theme */

/* Page Head */
header {
    width: 100%;
    height: 50px;
    background: #B8BB26;
    padding: 20px 50px;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
}

header h1 a {
  color: #3C3836;
}

header .gnav .menu li a {
  color: #3C3836;
}

header .gnav .menu {
    display: flex;
}


header .gnav .menu li {
    list-style: none;
}
header .gnav .menu li + li {
    margin-left: 40px;
}

/* Background */
body {
  background-color: #282828;
}

#content {
    margin-left: 40px;
}
/* Text Colors */
body, pre, code, a {
  color: #ebdbb2;
}

/* Headings */
h1 {
  color: #B65D0E;
}
h2, h3, h4, h5, h6 {
  color: #b8bb26;
}

/* Hyperlinks */
a {
  color: #8ec07c;
  text-decoration: none;
}

a:hover {
  color: #ebdbb2;
  text-decoration: underline;
}

/* Code Blocks */
pre {
  background-color: #3c3836;
  color: #ebdbb2;
  padding: 10px;
  overflow-x: auto;
}

code {
  font-size: 0.9em;
  font-family: 'Courier New', Courier, monospace;
}

pre code {
  font-size: 1em;
}

pre code[class*="language-"] {
  background-color: transparent;
}

/* Blockquote */
blockquote {
  color: #bdae93;
  border-left: 3px solid #bdae93;
  padding-left: 10px;
  margin: 10px 0;
}

/* Lists */
ul, ol {
  margin-left: 30px;
}

li {
  color: #ebdbb2;
}

