{% extends "base.html.tera" %}
{% block title %}Posts{% endblock title %}
{% block content %}
  <h1>Blog Posts</h1>
  {% for Post in posts %}
    <div class="blog-post">
      <a href="/article/{{Post.content_id}}"> <h2> {{Post.title}} </h2> </a>
      <p> {{Post.updated_at}} </p>
    </div>
  {% endfor %}
{% endblock content %}
